$app-background-color: #ffffff;
$greenForButton: #37b71e;
$redForButton: #f82727;
$blueForButton: #30b0f1;
$txtColor: #001b85;
$colorForTxtInput: #ffffff;
$cursorOnQuestion: #000000;
$questionSelected: darkorange;
$headbandColor: #128796;
$white: white;
$blue: blue;
