@import "../../../styles/variables";

.question{
  font-size: x-large;
  margin-top: 2vh;
  background: $headbandColor;
  color: #fffcfc;
}

.answer{
  font-size: x-large;
}

h2{
  background: #ff913b;
}


