@import '../../../styles/card.scss';

h2{
  text-align: center;
  color: $txtColor;
}

.center {
  text-align: center;

  .button-card-validate{
    cursor:pointer;
    background-color: $greenForButton;
    border: solid 1px #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5em 1em;
    outline: 0;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.5);
    text-align: center;
    position: center;
  }
}

